#background {
  animation: fade-in 0.1s ease-in;
}
button:active {
  transform: scale(1.1);
}
.widget-box:hover, .category-div:hover {
  transform: translateX(-5px);
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider {
  transition: 0.4s;
}
.slider:before {
  transition: 0.4s;
}
@keyframes slide-in-lr {
  from {
      transform: translateX(-100%);
 }
  to {
      transform: translateX(0%);
 }
}
@keyframes slide-out-rl {
  from {
      transform: translateX(0%);
 }
  to {
      transform: translateX(-100%);
 }
}
@keyframes slide-in-rl {
  from {
      transform: translateX(100%);
 }
  to {
      transform: translateX(0%);
 }
}
@keyframes slide-out-lr {
  from {
      transform: translateX(0%);
 }
  to {
      transform: translateX(100%);
 }
}
@keyframes fade-in {
  0% {
      opacity: 0;
      transform: scale(0.99);
 }
  100% {
      opacity: 1;
      transform: scale(1);
 }
}