html, body {
    margin: 0;
    height: 100%;
}
#background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
body {
    background-color: black;
}
button {
    transition: transform 0.2s ease-in-out;
}
#settings-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: transparent;
}
#widgets-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: transparent;
}
#settings-button svg {
    fill: white;
    margin: auto;
}
#widgets-button svg {
    fill: white;
    margin: auto;
}
#widgets-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#settings-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#widgets-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(53, 61, 65, 0.3);
    width: 250px;
    height: 100vh;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
#settings-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(53, 61, 65, 0.3);
    width: 450px;
    height: 100vh;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.show-widgets-menu-container {
    animation: slide-in-lr 0.5s ease-out forwards;
}
.hide-widgets-menu-container {
    animation: slide-out-rl 0.5s ease-out forwards;
}
.show-settings-menu-container {
    animation: slide-in-rl 0.5s ease-out forwards;
}
.hide-settings-menu-container {
    animation: slide-out-lr 0.5s ease-out forwards;
}
.menu-title {
    font-size: 26px;
    font-weight: bold;
}
.menu-comment {
    font-size: 12px;
}
.text {
    color: white;
}
.widget-box {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(36, 46, 51, 0.5);
    background-color: rgba(30, 35, 37, 0.3);
    cursor: move;
    transition: all 0.3s ease-in-out;
}
.widget-box p {
    margin: 0;
    font-size: 24px;
}
.widget-box:hover {
    box-shadow: 0 8px 16px rgba(36, 46, 51, 0.8);
}
/*@media (max-width: 700px) {
    .widget-box {
        padding: 10px;
        margin-bottom: 8px;
   }
    .widget-box p {
        font-size: 18px;
   }
    .widget-box#time-widget {
        font-size: 24px;
   }
}
*/
.setting-box {
    width: 100%;
    text-align: left;
}
.setting-box p {
    padding-top: 2px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 0;
    margin-right: 10px;
    margin-bottom: 2px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
}
input:checked + .slider {
    background-color: rgba(0, 166, 255);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
#search-bar {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #bebebe;
    border-radius: 12px;
    background-color: #f9f9f9;
}
#container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#widgets-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    pointer-events: none;
    z-index: 1;
}
.widget-area {
    background: transparent;
}
.widget-area-visible {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
#cancel-widget-drag {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 0;
    cursor: pointer;
    margin: auto;
    background-color: rgba(120, 0, 0, 0.7);
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cancel-widget-drag p {
    display: block;
}